<div class="tarifas-taxi">
  <div class="group-container-1">
    <p class="titulo">Tipos de taxi</p>
  </div>
  <div class="group-container-2">
    <!-- <p class="titulo">Libre</p> -->
    <img
      src="assets/icon/ICONO_TAXI_LIBRE.png"
      alt="Icono Taxi Libre"
      class="taxi-icon"
    />
    <!-- <hr /> -->
    <p>Banderazo $ 8.74</p>
    <p>Cada 250 metros o 45 segundos $ 1.07</p>
    <hr />
  </div>

  <div class="group-container-3">
    <!-- <p class="titulo">Sitio</p> -->
    <img
      src="assets/icon/ICONO_TAXI_SITIO.png"
      alt="Icono Taxi Sitio"
      class="taxi-icon"
    />
    <!-- <hr /> -->
    <p>Banderazo $ 13.10</p>
    <p>Cada 250 metros o 45 segundos $ 1.30</p>
    <hr />
  </div>

  <div class="group-container-4">
    <!-- <p class="titulo">Radio taxi / Eléctrico</p> -->
    <img
      src="assets/icon/ICONO_TAXI_RADIO.png"
      alt="Icono Taxi Radio"
      class="taxi-icon"
    />
    <!-- <hr /> -->
    <p>Banderazo $ 27.30</p>
    <p>Cada 250 metros o 45 segundos $ 1.84</p>
    <hr />
  </div>

  <div class="group-container-5">
    <ion-button (click)="onRegresarHomePage()"
      ><ion-icon slot="start" name="arrow-back-outline"></ion-icon
      >Regresar</ion-button
    >
  </div>
</div>
