<div class="acerca-de">
  <div class="group-container-1">
    <p class="titulo">Información de la app</p>
    <hr />
    <p>Taximetro (Version 1.0)</p>
    <hr />
  </div>
  <div class="group-container-2">
    <p class="titulo">Desarrollado por:</p>
    <p>Beaversoft derechos reservados 2023</p>
    <p>AP</p>
    <p>CDMX</p>
    <p>aprendeacodificar</p>
  </div>
  <div class="group-container-3">
    <ion-button (click)="onRegresarHomePage()"
      ><ion-icon slot="start" name="arrow-back-outline"></ion-icon
      >Regresar</ion-button
    >
  </div>
</div>
