<ion-header background-color="success">
  <div class="header-container">
    <ion-title class="header-text">TAXIMETRO</ion-title>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="app-container">
    <div class="datetime-container">
      <div class="datetime-text"><p>{{ currentDate }}</p></div>
      <div class="datetime-text">
        <p>{{ currentTime | date:'hh:mm:ss a' }}</p>
      </div>
    </div>
  </div>

  <div class="gps-container">
    <div class="message-container">
      <div class="message-text">
        <p
          class="message-gps"
          [ngStyle]="{'color': isLocationOn ? 'greenyellow' : 'red' }"
        >
          GPS
        </p>
        <p class="message-diurno">{{ tipoTarifa() ? 'DIURNO' : 'NOCTURNO'}}</p>
      </div>
    </div>
  </div>

  <div class="cost-center-container">
    <h2 class="cost-text">
      <span
        class="tarifa-number"
        *ngIf="startedTrip || finishedTrip"
        [ngClass]="currentClass"
        (click)="toggleClass()"
      >
        {{ obtenerNumeroTarifa() }}
      </span>
      <span
        class="costo-number"
        [ngClass]="currentClass"
        (click)="toggleClass()"
      >
        {{ finishedTrip || startedTrip ? travelCost.toFixed(2) : 'LIBRE' }}
      </span>
    </h2>
  </div>

  <div class="cost-container">
    <div class="payment-container">
      <div class="payment-text">
        <p class="payment-label-left">
          Velocidad {{ speedometer.toFixed(2) }} km/hr
        </p>
        <p class="payment-label-right">
          {{ (speedometer * 1000).toFixed(2) }} km/hr
        </p>
      </div>

      <div class="payment-text">
        <p
          class="payment-label-left"
          [ngStyle]="{ 'color': chargeByDistance ? 'greenyellow' : '#c50000' }"
        >
          Distancia <span *ngIf="chargeByDistance"></span>
        </p>
        <p
          class="payment-label-right"
          [ngStyle]="{ 'color': chargeByTime ? 'greenyellow' : '#c50000' }"
        >
          Tiempo <span *ngIf="chargeByTime"></span>
        </p>
        <div style="clear: both"></div>
      </div>

      <div class="payment-text">
        <p class="payment-label-left">
          {{ (accumulatedDistance>1) ?
          accumulatedDistance.toFixed(2):(accumulatedDistance * 1000).toFixed(2)
          }} {{(accumulatedDistance>1)?'km.':'mt.'}}
        </p>
        <p class="payment-label-right">{{ timeTraveledFormatted }}</p>
        <div style="clear: both"></div>
      </div>
    </div>
  </div>

  <div class="button-main">
    <div class="button-container">
      <ion-button
        class="iniciar"
        color="success"
        expand="full"
        (click)="startTravel()"
        [disabled]="startedTrip || finishedTrip || !taxiSelected"
      >
        Iniciar
      </ion-button>
      <ion-button
        class="terminar"
        color="danger"
        expand="full"
        (click)="stopTravel()"
        [disabled]="finishedTrip || !startedTrip"
      >
        Terminar
      </ion-button>
      <ion-button
        class="reiniciar"
        expand="full"
        (click)="restartTaximeter()"
        [disabled]="startedTrip"
      >
        Reiniciar
      </ion-button>
    </div>
  </div>

  <div class="radio-border">
    <div class="radio-main">
      <p class="label-radio-title">Tipo de taxi que abordo</p>
    </div>
    <div class="radio-main">
      <ion-radio-group
        class="radio-group-inline"
        [allowEmptySelection]="true"
        [(ngModel)]="taxiSelected"
        [disabled]="startedTrip || finishedTrip"
      >
        <ion-item lines="none" class="radio-item">
          <ion-radio
            labelPlacement="start"
            value="libre"
            [ngClass]="{'radio-selected': taxiSelected === 'libre'}"
            [disabled]="startedTrip || finishedTrip"
          ></ion-radio>
          <ion-label
            class="radio-label-large"
            [ngClass]="{'radio-label-selected': taxiSelected === 'libre'}"
            (click)="selectRadio('libre')"
          >
            Libre
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="radio-item">
          <ion-radio
            labelPlacement="start"
            value="sitio"
            [ngClass]="{'radio-selected': taxiSelected === 'sitio'}"
            [disabled]="startedTrip || finishedTrip"
          ></ion-radio>
          <ion-label
            class="radio-label-large"
            [ngClass]="{'radio-label-selected': taxiSelected === 'sitio'}"
            (click)="selectRadio('sitio')"
          >
            Sitio
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="radio-item">
          <ion-radio
            labelPlacement="start"
            value="radio"
            [ngClass]="{'radio-selected': taxiSelected === 'radio'}"
            [disabled]="startedTrip || finishedTrip"
          ></ion-radio>
          <ion-label
            class="radio-label-large"
            [ngClass]="{'radio-label-selected': taxiSelected === 'radio'}"
            (click)="selectRadio('radio')"
          >
            Radio Taxi
          </ion-label>
        </ion-item>
      </ion-radio-group>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer-main">
    <ion-buttons slot="start">
      <ion-button (click)="showTicket()" [disabled]="!ticket">
        <ion-icon name="receipt-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="showReport()">
        <ion-icon name="calendar" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="showOptions()">
        <ion-icon name="car-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="aboutApp()">
        <ion-icon name="information-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-footer>
