<ion-header background-color="success">
  <div class="header-container">
    <ion-title class="header-text">TAXIMETRO</ion-title>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="app-container">
    <div class="datetime-container">
      <div class="datetime-text"><p>{{ currentDate }}</p></div>
      <div class="datetime-text">
        <p>{{ currentTime | date:'hh:mm:ss a' }}</p>
      </div>
    </div>

    <div class="gps-container">
      <div class="gps-text">
        <p
          class="message-gps"
          [ngClass]="{'green-light': isLocationOn, 'red-light': !isLocationOn}"
        >
          GPS
        </p>
      </div>
      <div class="gps-text">
        <p class="message-diurno">{{ tipoTarifa() ? 'DIURNO' : 'NOCTURNO'}}</p>
      </div>
    </div>

    <div class="tarifa-container">
      <h2 class="cost-text">
        <span
          class="tarifa-number"
          *ngIf="startedTrip || finishedTrip"
          [ngClass]="currentClass"
          (click)="toggleClass()"
        >
          {{ obtenerNumeroTarifa() }}
        </span>
        <span
          class="costo-number"
          [ngClass]="currentClass"
          (click)="toggleClass()"
        >
          {{ finishedTrip || startedTrip ? travelCost.toFixed(2) : 'LIBRE' }}
        </span>
      </h2>
    </div>

    <div class="cost-container">
      <div class="payment-container">
        <div class="payment-text">
          <p class="payment-label-left">
            Velocidad
            <!-- {{ (speedometer * 1000).toFixed(2) }} km/hr -->
          </p>
          <p class="payment-label-right">{{ speedometer.toFixed(2) }} km/hr</p>
        </div>

        <div class="payment-text">
          <p
            class="payment-label-left"
            [ngClass]="{'green-light': chargeByDistance, 'red-light': !chargeByDistance}"
          >
            Distancia <span *ngIf="chargeByDistance"></span>
          </p>
          <p class="payment-label-right">
            {{ (accumulatedDistance>1) ?
            accumulatedDistance.toFixed(2):(accumulatedDistance *
            1000).toFixed(2) }} {{(accumulatedDistance>1)?'km.':'mt.'}}
          </p>

          <div style="clear: both"></div>
        </div>

        <div class="payment-text">
          <p
            class="payment-label-left"
            [ngClass]="{'green-light': chargeByTime, 'red-light': !chargeByTime}"
          >
            Tiempo <span *ngIf="chargeByTime"></span>
          </p>
          <p class="payment-label-right">{{ timeTraveledFormatted }}</p>
          <div style="clear: both"></div>
        </div>
      </div>
    </div>

    <div class="radio-container">
      <div class="radio-main">
        <p class="label-radio-title">Tipo de taxi que abordo</p>
      </div>
      <div class="radio-options">
        <div
          class="radio-option"
          (click)="toggleOption('libre')"
          [class.selected]="taxiSelected === 'libre'"
          [class.disabled]="startedTrip || finishedTrip"
        >
          <ion-icon
            class="radio-icon"
            [name]="taxiSelected === 'libre' ? 'radio-button-on' : 'radio-button-off'"
          ></ion-icon>
          Libre
        </div>
        <div
          class="radio-option"
          (click)="toggleOption('sitio')"
          [class.selected]="taxiSelected === 'sitio'"
          [class.disabled]="startedTrip || finishedTrip"
        >
          <ion-icon
            class="radio-icon"
            [name]="taxiSelected === 'sitio' ? 'radio-button-on' : 'radio-button-off'"
          ></ion-icon>
          Sitio
        </div>
        <div
          class="radio-option"
          (click)="toggleOption('radio')"
          [class.selected]="taxiSelected === 'radio'"
          [class.disabled]="startedTrip || finishedTrip"
        >
          <ion-icon
            class="radio-icon"
            [name]="taxiSelected === 'radio' ? 'radio-button-on' : 'radio-button-off'"
          ></ion-icon>
          Radio Taxi
        </div>
      </div>
    </div>

    <div class="button-container">
      <ion-button
        shape="round"
        [color]="buttonColor"
        expand="full"
        (click)="handleButtonClick()"
        [disabled]="isButtonDisabled()"
      >
        <ion-icon [name]="buttonIcon" slot="start"></ion-icon>
        {{ buttonLabel }}
      </ion-button>
    </div>

    <div class="ad-container"></div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer-main">
    <ion-buttons slot="start">
      <ion-button (click)="showTicket()" [disabled]="!ticket">
        <ion-icon name="receipt-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="showReport()">
        <ion-icon name="calendar" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="showOptions()">
        <ion-icon name="car-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="aboutApp()">
        <ion-icon name="information-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-footer>
