// **********
.radio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  width: calc(100% - 20px);
  margin-bottom: 15px;
}
.radio-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.label-radio-title {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  border: 5px solid #f00;
  color: #ffd5cb;
  text-shadow: 0 0 10px #fb062c, 0 0 25px #fb062c, 0 0 50px #fb062c,
    0 0 75px #fb062c, 0 0 100px #fb062c;
  padding: 5px;
  font-weight: bold;
  font-size: large;
}
.radio-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.radio-option {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #242936;
  border: 1px solid #d9176e;
}
.radio-icon {
  margin-right: 10px;
}
.selected {
  color: #76e006 !important;
  text-shadow: 0 0 10px #398310, 0 0 25px #398310, 0 0 50px #398310,
    0 0 75px #398310, 0 0 100px #0f0 !important;
  border: 1px solid #398310 !important;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.radio-option:not(.selected) {
  color: #ffd5cb !important;
  text-shadow: 0 0 10px #d9176e, 0 0 25px #d9176e, 0 0 50px #d9176e,
    0 0 75px #d9176e, 0 0 100px #d9176e !important;
  border: 1px solid #d9176e !important;
}

// **********
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: calc(100% - 20px);
  margin-bottom: 5px;
}
ion-button {
  width: 60%;
  height: 60px;
  line-height: 1;
  display: inline-block;
  font-size: 1.5em;
}

// **********
.ad-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  width: calc(100% - 20px);
  margin-bottom: 5px;
}

// **********
.footer-main {
  display: flex;
  justify-content: center; /* Centro el contenedor principal */
  align-items: center;
  padding: 10px;
  background-color: #d9176e;
  color: #fff;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
}

.footer-main ion-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.footer-main ion-button {
  margin: 0;
  flex: 1;
  max-width: 20%;
  display: flex;
  justify-content: center;
}

.footer-main ion-button ion-icon {
  color: #fff;
}

// **********
.blue-light {
  color: #41f9f9 !important;
  text-shadow: 0 0 10px #1a2cf8, 0 0 25px #1a2cf8, 0 0 50px #1a2cf8,
    0 0 75px #1a2cf8, 0 0 100px #00f !important;
}
.red-light {
  color: #ffd5cb !important;
  text-shadow: 0 0 10px #fb062c, 0 0 25px #fb062c, 0 0 50px #fb062c,
    0 0 75px #fb062c, 0 0 100px #f00 !important;
}
.green-light {
  color: #76e006 !important;
  text-shadow: 0 0 10px #398310, 0 0 25px #398310, 0 0 50px #398310,
    0 0 75px #398310, 0 0 100px #0f0 !important;
}
.white-light {
  color: #fff !important;
  text-shadow: 0 0 10px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 75px #fff,
    0 0 100px #fff !important;
}
