// **********
.header-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #d9176e;
  height: 60px;
}
.header-text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "TAXI", "Roboto", "Arial", "Helvetica", "sans-serif";
  text-align: center;
}

// **********
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #242936;
}

// **********
.datetime-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  width: calc(100% - 20px);
  margin-bottom: 5px;
}
.datetime-text {
  padding: 0;
  color: #ffd5cb;
  text-shadow: 0 0 10px #fb062c, 0 0 25px #fb062c, 0 0 50px #fb062c,
    0 0 75px #fb062c, 0 0 100px #fb062c;
  line-height: 1;
  display: inline-block;
  font-size: 1.2em;
}

// **********
.gps-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  width: calc(100% - 20px);
  margin-bottom: 5px;
}
.gps-text {
  padding: 0;
  color: #ffd5cb;
  text-shadow: 0 0 10px #fb062c, 0 0 25px #fb062c, 0 0 50px #fb062c,
    0 0 75px #fb062c, 0 0 100px #fb062c;
  line-height: 1;
  display: inline-block;
  font-size: 1.2em;
}
.message-gps {
  padding: 5px;
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
}
.message-diurno {
  padding: 5px;
  color: #ffd5cb;
  text-shadow: 0 0 10px #fb062c, 0 0 25px #fb062c, 0 0 50px #fb062c,
    0 0 75px #fb062c, 0 0 100px #fb062c;
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
}

// **********
.tarifa-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: calc(100% - 20px);
  margin-bottom: 5px;
  border-radius: 10px;
  border: 5px solid #f00;
}
.cost-text {
  font-family: "DSDIGI", "Roboto", "Arial", "Helvetica", "sans-serif";
  color: #ffd5cb;
  text-shadow: 0 0 10px #fb062c, 0 0 25px #fb062c, 0 0 50px #fb062c,
    0 0 75px #fb062c, 0 0 100px #fb062c;
  text-align: center;
  word-wrap: break-word;
  font-size: 1.5em;
}
.tarifa-number {
  text-align: left;
  justify-content: center;
  margin-right: 75px;
  font-size: 3em;
  line-height: 1;
  display: inline-block;
}
.costo-number {
  text-align: center;
  font-size: 3em;
  line-height: 1;
  display: inline-block;
}

// **********
.cost-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  width: calc(100% - 20px);
  margin-bottom: 5px;
}
.payment-container {
  width: 95%;
  padding: 5px 5px;
}
.payment-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}
.payment-label-left,
.payment-label-right {
  margin: 20px;
  margin: 0;
  white-space: nowrap;
  font-weight: bold;
  padding-bottom: 2px;
  color: #ffd5cb;
  text-shadow: 0 0 10px #fb062c, 0 0 25px #fb062c, 0 0 50px #fb062c,
    0 0 75px #fb062c, 0 0 100px #f00;
}
.payment-label-left {
  float: left;
  margin-right: auto;
  padding-right: 10px;
  padding-bottom: 2px;
}
.payment-label-right {
  float: right;
  margin-left: auto;
  padding-left: 10px;
  padding-bottom: 2px;
}
